<%- include ("partials/header") %>
<h2 class="game-title"><%= title %></h2>
<div class="game-box">
    <iframe width= "<%= width %>px" height="<%= height %>px" 
        class="game" src="<%= src %>" 
scrolling="no" style="border: solid white"></iframe>
</div>


<%- include ("partials/footer") %>